.product-card{
    background:#fff;
    border-radius:15px;
    padding:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
    text-align:center;
}

.product-card:hover{
    transform:translateY(-8px);
}

.product-card img{
    width:220px;
    height:220px;
    object-fit:contain;
}

.product-card h3{
    margin:20px 0 10px;
}

.price{
    color:#d4af37;
    font-size:22px;
    font-weight:bold;
}

.product-card button{
    width:100%;
    margin-top:20px;
    padding:12px;
    border:none;
    background:#111;
    color:white;
    border-radius:8px;
    cursor:pointer;
}